<h1 id="title">current story: <%= @poker.title %></h1>

<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "0" %>
  <%= form.button "0", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "1" %>
  <%= form.button "1", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "2" %>
  <%= form.button "2", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "3" %>
  <%= form.button "3", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "5" %>
  <%= form.button "5", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "8" %>
  <%= form.button "8", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "13" %>
  <%= form.button "13", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "21" %>
  <%= form.button "21", type: "submit" %>

<% end %>
<%= form_with model: @vote do |form| %>

  <%= form.hidden_field :username, value: "scottie" %>
  <%= form.hidden_field :poker_id, value: @poker.id %>
  <%= form.hidden_field :value, value: "?" %>
  <%= form.button "?", type: "submit" %>

<% end %>

